body{
    margin: 0;
    padding: 0;
    background-color:#7F8C8D;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: black;
    background-color:#555;
    padding: 15px;
}
.barra{
    padding: 0;
    list-style: none;
    display: flex;
    border: 1px solid grey;
}
nav ul li {
    flex: auto;
    padding: 10px;
    background-color:#555;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}
nav ul li a{
    color:  black;
    text-decoration: none;
}
nav ul li:hover{
    background-color: #F5F5F5;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
    background-color: #555;
    border-top:1px solid #ccc ;
    padding: 5px;
    text-align: center;
}
.tabla{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
    width: 60%;
    margin: 20px auto;
    }

.header{
    background-color: brown;
    color: black;
    padding: 10px;
    text-align: center;
}
.posicion,
.equipo,
.puntos{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.posicion{
    background-color: crimson;
}
h2{
    text-align: center;
}
.goleadores{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
    width: 60%;
    margin: 20px auto;
    }

.header{
    background-color: brown;
    color: black;
    padding: 10px;
    text-align: center;
}
.posicion,
.jugador,
.goles{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.posicion{
    background-color: crimson;
}
.izquierda{
    display: flex;
    flex-wrap: wrap;
}
.contenedorvideo{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.video{
    width: calc(50% - 10px);
    box-sizing: border-box;
}
.video iframe{ 
    width: 100%;
    height: 150px; 
}




