body{
    margin: 0;
    padding: 0;
    background-image: url(./imagenes/css-pattern-by-magicpattern\ \(3\).png);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: black;
    background-color: burlywood;
    padding: 15px;
}
.barra{
    padding: 0;
    list-style: none;
    display: flex;
    border: 1px solid grey;
}
nav ul li {
    flex: auto;
    padding: 10px;
    background-color:burlywood;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li:hover{
    background-color: bisque;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top:1px solid #ccc ;
    padding: 5px;
    text-align: center;
}
aside{
    float: left;
    background-color:brown;
    width: 400px;
    height: 400px;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 40px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px;
}
aside h3{
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    background-color: burlywood;
    text-align: center;
    padding: 5px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
#contenido{
    float: left;
    background-color: orange;
    width: calc(80% - 200px);
    margin-top: 40px;
    padding: 0 20px;
    box-sizing: border-box;
}
#contenido h1{
    background-color: burlywood;
    margin: 0;
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px gray;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
#contenido h2{
    color: black;
    margin: 0;
}
#contenido article{
    background-color: brown;
    padding: 40px;
    margin-bottom: 30px;
}
#contenido a{
    font-size: 20px;
    float: right;
}
